<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sample Atlas V0.0.1</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <!— JQuery —>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
  <script type="text/javascript" src="arbor.js"></script>
  <script type="text/javascript" src="javascripts/sample.js"></script>
  <script type="text/javascript" src="javascripts/atlas.js"></script>
  <script type="text/javascript" src="javascripts/view.js"></script>
</head>
<body>
  <canvas id="viewport" width="1278" height="1355"></canvas>
</body>
</html>
